{% extends "./base_page.html" %}
{% block content%}
<body> 
    <div class="container grid">
        <div class="row">
            <div class="display-1">
                <p class="text-center">You have {{ amt }} coins</p>
            </div>
        </div>
        <div class="row">
        {% if error_message %}  
                <div class="alert alert-danger" role="alert">
                    {{ error_message }}
                </div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btm btn-primary" type="submit">Buy</button>
        </form>    
        
        </div>"
    </div>
    


</body>
{% endblock %}