{% extends "./base_page.html" %}
{% block content %}
    <div class="chat-container" style="margin-top: 1%; margin-bottom: 11.7%;">
        <h2 class="chat-title">Chat with {{ other_user.username }}</h2>
        <div class="messages" id="messages-container">
            {% for message in chat %}
                <div class="message {% if message.sender == user %}sent{% else %}received{% endif %}" 
                     style="background-color: {% if message.sender == user %}#218aff{% else %}#d8d8d8{% endif %};">
                    <div class="message-header">
                        <span class="sender-name">{{ message.sender.username }}</span>
                        <span class="timestamp">{{ message.time }}</span>
                    </div>
                    <div class="message-content">
                        <p>{{ message.message }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <form method="post" class="message-form">
            {% csrf_token %}
            {% if item %}
                <textarea name="message" class="message-input" placeholder="Type your message here..." required>Hello! I am interested in the {{ item }} you are selling.</textarea>
			{% else %}
                <textarea name="message" class="message-input" placeholder="Type your message here..." required></textarea>
            {% endif %}
            <button type="submit" class="send-button">Send</button>
        </form>
    </div>

    <link rel="stylesheet" href="chat_style.css">
    
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const messagesContainer = document.getElementById("messages-container");
            messagesContainer.scrollTop = messagesContainer.scrollHeight;
        });
    </script>
{% endblock %}
{% block currPage %}"chatTab"{% endblock %}

